[Desktop Entry]
Categories=Qt;KDE;System;TerminalEmulator;
Comment=
Exec=konsole --profile 'Root Profile'
Icon=utilities-terminal_su
Name=Terminal - Super User Mode
NoDisplay=false
OnlyShowIn=KDE;
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-StartupType=Unique
X-DocPath=konsole/index.html
X-KDE-AuthorizeAction=shell_access
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
